@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Press Start 2P',serif;
    --fondo:
}
/* Cabecera*/
header {
   background-color: #5303c8;
   height: 96px;
   display: flex;
   flex-direction: row; 
   justify-content: center;
   align-items: center;
}
.header__imagen {    
    width: 138PX;
    height: 56px;
}
.header__titulo{
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 24px;    
}

/*Fin de cabecera*/

.contenedor {
    display: flex;
    
}

.titulo__producto{
    text-align: center;
}
.productos{
    height: 50vh;
    display: flex;
    flex-direction: column;
    
}

.contenedor-prouctos--tarjetas{
    display: flex;
}
.tarjetas{
    width: 196px;
    height: 258px;
    background-color: #5303c8;
    margin: 10px;
    border-radius: 10px;
    border: solid 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}